*.tlog
*.exe
*.obj
*.idb
*.aps
*.res
*.recipe
*.log
*.pdb
*.pch
*.ilk
*.aps
*.ipch
*.suo
*.db
*.db-shm
*.db-wal
*.opendb
*.bin
*.json
/BitonicTSP/.vs/BitonicTSP/FileContentIndex
/MFCDay8/Graphics/.vs/Graphics/FileContentIndex/fc12718f-5ffc-45b0-92db-a3003baad624.vsidx
/MFCDay10/MFCDay10/x64/Debug/MFCDay10.vcxproj.FileListAbsolute.txt
/MFCDay10/.vs/MFCDay10/FileContentIndex
/MFCDay11/.vs/MFCDay11/FileContentIndex
/MFCDay11/MFCDay11/x64/Debug/MFCDay11.vcxproj.FileListAbsolute.txt
